html {
    scroll-behavior: smooth;
  }
  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #ffffff;
    color: #fff;
    font-size: 1.1em;
    text-align: center;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  
  
  
  h1,
  h2,
  h3 {
    margin: 0;
    padding: 1em 0;
  }
  h1{
    letter-spacing: 2px;
  font-family:'Lora',Arial, Helvetica, sans-serif ;

  }
  
  p {
    margin: 0;
    padding: 1em 0;
  }
  
  .btn {
    display: inline-block;
    background: transparent;
    color: rgba(250, 244, 244, 0.726);
    text-decoration: none;
    padding: 10px 10px;
    border: 1px solid rgb(204, 199, 199);
    margin: 0.2em 0;
  
  }
  
  .btn:hover {
    background: #666;
    color: #eaeaea;
  }
  /* Nav bar */
  li {
    list-style: none;
    font-size: 18px;
    padding: 20px 10px;
   
   
  }
  

  header{
    background-color:#fff;
  color:#000;
  position: fixed;
  top: 0;
  width:100%;  
  z-index: 1;
  display: flex;
  justify-content: space-between;
}
#logo{
padding-left:  30px;
color: rgb(194, 181, 181);
}
header a{
    color: #000000;;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
   

}

header ul{
    list-style: none;
    margin: 0;
    z-index:1;
    display: flex;
    padding-right: 20px;
   
}
header li{
  padding:25px 20px;
    
}



header nav{
    float:right;
    color: #000;
  

}

header a:hover{
    color:#000;

}


  /* Showcase */
  
  #showcase {
    min-height: 100vh;
    color: rgb(97, 94, 94);
    text-align: center;
    display: flex;
  }
  
  #showcase {
     color: #f1f1f1;
    background: #333 url("img/africanxxx.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    letter-spacing: 2px;
    font-family:'Lora',Arial, Helvetica, sans-serif ;
   
  
  }
  .over-lay{
    background-color: rgba(0, 0, 0, 0.712);
    height: 100%;
    width: 100%;
  }
  .over-layx{
    background-color: rgba(0, 0, 0, 0.226);
    height: 100%;
    width: 100%;
  }
  
  
  
  #showcase h1 {
    padding-top: 50px;
    padding-bottom: 5px;

  }
  #showcase .content-wrap {
    width: 80%;
    margin-top:270px; /* will move the content to the middle*/
    overflow: hidden; 
    line-height: 20px;

 
  }
  #showcase .iconx{
    display: none;
  }
  #showcase h1{
    font-family: 'Tangerine', serif;
    color: rgba(255, 255, 255, 0.829);
    font-weight: 350;
      text-align: center;
      font-size: 33px;
      margin-left: 19%;
      width:85%;
  }
  #showcase p{
    margin-left: 20%;
    text-align: center;
     font-size: medium;
     color: rgba(255, 255, 255, 0.562);
  }
  #showcase .title{
    font-size: 17px;
    line-height: 10px;
    padding-top: 5px;
    color: rgba(255, 255, 255, 0.829);
  }
  .btn{
    margin-left: 20%;
  }
  
  /* Bio*/

  .about-img h1{
    padding-top: 50px;
    color: rgb(3, 3, 3);
    font-size: 1.5em;
   font-weight: 300;
  }

#bio h4
{
  font-weight: 100;
  color: rgb(99, 92, 92);
  margin-top: 0;
}
  .about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
  }
  .about p{
    width: 40%;
    padding: 0px ;
    margin: auto;
  }
  #bio {
    background-color: rgb(250, 250, 250);
    color: rgb(44, 42, 42);
    height: 100vh;

  
  }
  .nomanna{
    width: 250px;
    height: 280px;
    padding: 40px;
    margin: auto;
    border-radius: 100%;
    
  }
 
  .bio p {
    width: 50%;
    margin-left: 25%;
    text-align: center;
  }
  
  /* Work done */
  
  #work-done h1{
    padding-bottom: 80px;
    color: #fff;
    font-size: 1.5em;
   font-weight: 300;
  }
  #work-done {
    color: black;
    height: 80vh;
    background-color:#fff;
    width: 100%;
  }
  
  #work-done {
    padding: 0px;
    background-image: url('img/workdone.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:100% 150% ;
  }
  .row {
    display: grid;
    grid-template-columns: auto auto auto;
    padding-right: 0px;
    margin-right: 150px;
   
  
  }
  
  .column {
    flex: 35%;
    margin-left: 90px;
  }
  
  #work-done img {
    width: 131%;
    height: 30vh;
    padding: 0cm;
  }
  
  .container {
    position: relative;
    width: 75%;

  }
  .overlayxx{
    background-color: rgba(0, 0, 0, 0.719);
    height: 80vh;
    width: 100%;
  }
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 130%;
    opacity: 0;
    transition: 0.5s ease;
    background-color: rgba(0, 0, 0, 0.876);
  
  }
  
  .container:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  /*Skills*/

  #skills h1{
    color: #000000;
    margin-top: 0rem;
    font-size: 1.5em;
   font-weight: 300;
  }
  #skills {
    background-color: #ffffff;
    
  
  }
  #skills{
    height: 80vh;
  }
  .skill{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%;
    margin: auto;
    padding-top: 0px;

  }
  img{
    width: 120px;
    padding-top: 50px;
    padding-right: 30px;
  }

/* contact me */
.form{
    background-color: rgba(245, 245, 245, 0.747);
    color: #000;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 80%; 
    padding: 12px;
    border: 0px solid rgba(245, 245, 245, 0.747); 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical;
  }
  
  input[type="submit"] {
    background-color: transparent;
    color:#000000;
    border: 1px solid rgb(0, 0, 0);
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    font-size: medium;
  }
  
  
  input[type="submit"]:hover {
    background-color: rgb(8, 8, 8);
    color: white;
  }
  
  .contact-container {
   width: 35%;
    background-color: rgba(243, 241, 241, 0.575);
    padding: 20px;
  margin: auto;
    justify-content: center;
    
 
  }
  #contact h1{
    padding: 0;
  }
  #contact p{
    padding-bottom: 30px;
   font-size: medium;
  }
  

  
  #contact {
  background-image: url("img/apple.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
   color: #000;
  height:100vh;
  letter-spacing: 2px;
  font-family:'Lora',Arial, Helvetica, sans-serif ;
  }
  
  .icon {
    display: grid;
    grid-template-columns: auto auto auto auto;
    border-radius: 5px;
    padding: 20px;
    justify-content: center;
  }
  .iconx {
    padding: 25px 20px;
 
    color: #fff;
  }
  .iconx:hover {
    color: rgb(97, 93, 93);
  }
  /* Footer */
  
  #main-footer {

    padding-bottom: 10px;
    background: #fff;
    color: rgb(97, 93, 93);
    text-align: center;
    font-size: smaller;
   
  
  }
  
  /* The side navigation menu */
           
              
  span {
    display: none;
  }
  .sidenav {
    height: 90%; 
    width: 0; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    background-color: rgba(0, 0, 0, 0.801); 
    overflow-x: hidden;
    padding-top: 60px; 
    transition: 0.5s; 
     letter-spacing: 2px;
  font-family:'Lora',Arial, Helvetica, sans-serif ;

  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    
    color: #fff;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  
  
  @media screen and (max-height: 450px) {
    .sidenav {
      padding-top: 15px;
    }
    .sidenav a {
      font-size: 18px;
    }
  }
  
  /* Media Queries */
  
  
  @media (max-width: 350px) {
  

   /* .btn{
     display: none;
   } */



    #bio p {
      font-size: 15px;
      
    }
    #bio{
      height: auto;
    }
    header{
      width: 100%;
    }

    .nomanna{
      padding: 40px;
    }
    
    #work-done {
      padding: 0px;
    }
    /* #contact{
    height: 510vh;
    } */
    footer{
      margin-top: 5rem;
    }
   
  
}
  @media (max-width: 750px) {
    a{
      text-decoration: none;
      color: white;
  }
    span {
      display: flex;
      position: fixed;
      padding-top: 18px;
      padding-left: 8px;
    }
    #logo{
      padding-left: 16rem;
      font-size: medium;
    }
    /* .bar{
      margin-right: 18rem;
      padding-top: 10px;
    } */
    ul.nav {
      display: none;
    }
  body{
    overflow-y: scroll;
  }
    #showcase {
      min-height: 100vh;
      color: rgb(97, 94, 94);
      text-align: center;
      display: flex;
      justify-content: center;
      width: 100%;
    }
    #showcase h1 {
     margin: 0px;
     padding-bottom: 10px;
      font-size: 25px;
      line-height: 25px;
    }
    #showcase p {
    display: none;
    }
    #showcase .title{
      display: inline;
      margin: 0px;
      padding-bottom: 30px;
      line-height: 15px;
    }
    #showcase .content-wrap {

      margin-top:10rem;
      /* margin-left: 2rem; */
      height: 85vh;
      width: 100%;
      display: flex;
      flex-direction: column;
     align-items: center;
     line-height: 23px;
   
    }
    .btn{
      margin: 0;
    }
    .iconxx{
      display: flex;
      padding-top: 2rem;
      margin: 0px;
    }
    #showcase .iconx{
      display: flex;
    }

    .iconx {
      width: 15px;
      padding: 35px;
    }
    .nomanna{
 margin: auto;
 border-radius: 100%; 
 height: 200px;
 width: 200px;
  padding: 10px;
    }
    #bio {
    
      font-size: 14px;
    }
  .about{
    flex-direction: column;
  }
  .about-img{
    height: 80px;
  }
  .about-img h1{
    padding-top: 35px;
    font-size: 22px;
  }
    #bio p {
      width: 80%;
      padding: 20px;
      margin-left: 20px;
   
    }
    .bio h1 {
    
      width: 90%;
    }
  
    #work-done {
      height: auto;
    }

    #work-done h1{
      padding: 20px;
      font-size: 22px;
    }
    .column{
      margin-left: 65px;
    }
   
    .row {
      display: flex;
      flex-direction: column;
     
    }
    .work-img{
      height: 80px;
    }
    .work-img h1{
      padding-top: 35px;
      font-size: 0.9em;
    }
    #work-done img {
      display: flex;
      width: 200px;
      height: 150px;
      padding: 10px;
    }
    #work-done {
      padding: 0px;
      height: 110vh;
    }

    .overlayxx{
      height: 110vh;
    }
    .text {
      font-size: 15px;
    }
    .overlay {
      width: 150%;

    }


  
    /*Skills*/
    #skills {
      height: auto;
      
    }
    .skill{
      padding-top: 0;
      padding-bottom: 50px;
    }
    /*contact*/
    .contact-container{
      width: 80%
    }
    .footer{
      font-size: 11px;
    
    }
   #contact{
     height: 115vh;
   }
   #contact .iconx{
     display: none;
   }
footer{
  margin: 0;
}

  }
